# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
media/
staticfiles/
local_settings.py
db.sqlite3

# PyCharm
.idea/

# VS Code
.vscode/

# Distribution / packaging
.build/
dist/
build/
*.egg-info/
*.egg

# System files
.DS_Store
Thumbs.db

# Additional
*.sqlite3
